.knowledges {
    margin-bottom: 3rem;
}

.knowledges img {
    position: relative;
    left: -5rem;
}

.knowledges h2 {
    font-size: 72px;
    line-height: 76px;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
}

.knowledges h5 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 3rem;
    width: 80%;
}

.knowledges h3 {
    font-size: 70px;
    line-height: 45px;
    margin-bottom: 0.7rem;
}

.knowledges h4 {
    font-size: 35px;
}

@media only screen and (max-width: 1250px) {
    .knowledges img {
        top: 4rem;
        left: -7rem;
        width: 34rem;
    }
}
@media only screen and (max-width: 968px) {
    .knowledges h2 {
        font-size: 59px;
    }
    
}
@media only screen and (max-width: 900px) {
    .knowledges h5 {
        width: 90%;
    }
    .knowledges img {
        top: 4rem;
        left: -5rem;
        width: 31rem;
    } 
}
@media only screen and (max-width: 800px) {
    .knowledges img {
        top: 7rem;
        width: 28rem;
    } 
}