.knowledges {
    margin-bottom: 3rem;
}

.knowledges img {
    position: relative;
    left: -5rem;
}

.knowledges h2 {
    font-size: 72px;
    line-height: 76px;
    margin-top: 1rem;
    margin-bottom: 1.6rem;
}

.knowledges h5 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 3rem;
    width: 80%;
}

.knowledges h3 {
    font-size: 70px;
    line-height: 45px;
    margin-bottom: 0.7rem;
}

.knowledges h4 {
    font-size: 35px;
}

.knowledges .extraBold_modile {
    display: none;
}

@media only screen and (max-width: 1250px) {
    .knowledges img {
        top: 4rem;
        left: -7rem;
        width: 34rem;
    }
}

@media only screen and (max-width: 968px) {
    .knowledges h2 {
        font-size: 59px;
    }
}

@media only screen and (max-width: 900px) {
    .knowledges h5 {
        width: 90%;
    }
    .knowledges img {
        top: 4rem;
        left: -5rem;
        width: 31rem;
    }
}

@media only screen and (max-width: 800px) {
    .knowledges img {
        top: 7rem;
        width: 28rem;
    }
}

@media only screen and (max-width: 767px) {
    .knowledges img {
        top: 5rem;
        left: 0;
        width: 100%;
        margin-bottom: 2rem;
        left: 0;
    }
    .knowledges .mobile_direction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .knowledges .extraBold {
        display: none;
    }
    .knowledges .extraBold_modile {
        display: flex;
        justify-content: center;
        margin-bottom: -6rem;
        margin-top: 0;
    }
    .knowledges h5 {
        text-align: center;
    }
    .knowledges h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 590px) {
    .knowledges img {
        margin-top: 0;
    }
}

@media only screen and (max-width: 455px) {
    .knowledges h3 {
        font-size: 60px;
    }
    .knowledges h4 {
        font-size: 27px;
    }
    .knowledges h5 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .knowledges h4 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 415px) {
    .knowledges img {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }
}