.sliderComponent .container-fluid {
    width: 100%;
    padding: 0;
}

.sliderComponent .sliderCard {
    height: 167px;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 28px;
    cursor: pointer;
}

.sliderComponent .sliderCard_title {
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 0.5rem;
}

.sliderComponent .sliderCard_text {
    font-size: 10px;
    line-height: 13px;
}

.sliderComponent .slick-initialized .slick-slide {
    padding: 0 15px;
}

@media only screen and (max-width: 1450px) {
    .sliderComponent .slick-initialized .slick-slide {
        padding: 0 12px;
    }
}

@media only screen and (max-width: 1150px) {
    .sliderComponent .slick-initialized .slick-slide {
        padding: 0 9px;
    }
}

@media only screen and (max-width: 768px) {
    .sliderComponent .slick-initialized .slick-slide {
        padding: 0 7px;
    }
}

@media only screen and (max-width: 480px) {
    .sliderComponent .slick-initialized .slick-slide {
        padding: 0 6px;
    }
}