.header {
    padding-top: 3rem;
}

.header a {
    font-size: 19px;
    line-height: 25px;
    border-bottom: 2px solid transparent;
}

.header a:hover {
    border-bottom: 2px solid #19191A;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header .dopinfo {
    position: absolute;
    right: 17rem;
    top: 3.3rem;
}

.header .dopinfo a {
    position: relative;
    top: 0.4rem;
}

.header .dopinfo a:last-child {
    right: -1rem;
}

.header .dopinfo a:hover {
    border-bottom: none;
    transform: translateY(5px);
    transition: all 1s;
}

.lang {
    position: absolute;
    width: 71px;
    height: 73px;
    top: -80px;
    left: 0.4rem;
    background: #F7B732;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    font-size: 34px;
    line-height: 38px;
    color: #FFFFFF;
}

.mobile {
    display: none;
}

.header .menu-btn:hover {
    background-color: #f4f4f4;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 15px 10px;
    position: relative;
    user-select: none;
    z-index: 101;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 3px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 7px;
}

.header .menu-icon .navicon:after {
    top: -7px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.header .menu-btn:checked~.mobile-menu {
    display: flex;
    animation: 0.3s ease-out 0s forwards showCard;
}

@keyframes showCard {
    from {
        top: -17rem;
        opacity: 0;
    }
    to {
        top: -1.9rem;
        opacity: 1;
    }
}

@keyframes hideCard {
    from {
        top: -1.9rem;
        opacity: 1;
    }
    to {
        top: -17rem;
        opacity: 0;
    }
}

.menuWrapper {
    display: flex;
    align-items: center;
    position: relative;
    top: 0.3rem;
    left: 0.2rem;
}

.mobile-menu {
    display: none;
    background: white;
    width: 100vw;
    position: absolute;
    z-index: 100;
    top: -17rem;
    padding-top: 3rem;
    padding-bottom: 0.7rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 0.3s ease-out 0s forwards hideCard;
}

.mobile-menu a {
    margin-bottom: 0.6rem;
}

@media only screen and (max-width: 1700px) {
    .lang, .header .pc .dopinfo {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .header .pc .header-item {
        display: none;
    }
    .header .header-item:first-child {
        display: flex;
    }
    .header {
        padding-top: 1.5rem;
        margin-bottom: 2rem;
    }
    .mobile {
        display: flex;
    }
    .pc {
        display: none;
    }
    .header .dopinfo {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .header .dopinfo a:last-child {
        right: 0;
    }
    .header .dopinfo img {
        position: relative;
        top: -0.4rem;
    }
    .header .header-item img {
        position: relative;
        left: -10px;
    }
}