.header {
    padding-top: 3rem;
}

.header a {
    font-size: 19px;
    line-height: 40px;
}

.header-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header .dopinfo {
    position: absolute;
    right: 17rem;
    top: 3.3rem;
}

.lang {
    position: absolute;
    width: 71px;
    height: 73px;
    top: -80px;
    background: #F7B732;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bold;
    font-size: 34px;
    line-height: 38px;
    color: #FFFFFF;
}