.security {
    margin-top: -5rem;
    margin-bottom: 5rem;
    position: relative;
}

.security h2 {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 2rem;
    margin-top: 8rem;
}
.security .coinContainer {
    display: none;
    position: absolute;
    top: -20%;
    left: -45%;
}

.security .extraBold--modile {
    display: none;
}

.security h5 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 3rem;
    width: 80%;
}

.security .blackCard {
    background: #19191A;
    box-shadow: 0px 60px 80px rgba(15, 15, 15, 0.3);
    border-radius: 29px;
    color: #FFFFFF;
    padding-top: 19px;
    padding-left: 34px;
    height: 200px;
    min-width: 320px;
    position: relative;
    top: -7rem;
}

.security .blackCard_wrapp {
    display: none;
}

.security .blackCard .blackCard_title {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 2rem;
}

.security .blackCard .blackCard_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.security .coin1 {
    position: absolute;
    top: 15%;
    right: 20%;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}
.security .coin2 {
    display: none;
    position: absolute;
    top: 10%;
    left: 28%;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.security .coin3 {
    display: none;
    position: absolute;
    top: 23%;
    left: 43%;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.security .coin4 {
    display: none;
    position: absolute;
    top: 39%;
    left: 79%;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.security .coin5 {
    display: none;
    position: absolute;
    top: 53%;
    left: 55%;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

/* .security .coin6 {
    position: absolute;
    top: 38rem;
    left: 36rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.security .coin7 {
    position: absolute;
    top: 40rem;
    left: 41rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.security .coin8 {
    position: absolute;
    top: 46rem;
    left: 39rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.security .coin9 {
    position: absolute;
    top: 45rem;
    left: 53rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
} */
@media only screen and (max-width: 1700px) {
    .security .coin1 {
        right: 13%;
    }
}
@media only screen and (max-width: 1386px) {
    .security .coin1 {
        right: 8%;
    }
}
@media only screen and (max-width: 1212px) {
    .security .coin1 {
        right: 3%;
    }
}
@media only screen and (max-width: 1080px) {
    .security .coin1 {
        display: none;
    }
}
@media only screen and (max-width: 1010px) {
    .security .img1 {
        position: relative;
        top: 5rem;
        right: 6rem;
        width: 28rem;
    }
    .security .blackCard {
        top: 0rem;
    }
}
@media only screen and (max-width: 968px) {
    .security h2 {
        font-size: 59px;
        line-height: 76px;
        margin-bottom: 2rem;
        margin-top: 8rem;
    }
}

@media only screen and (max-width: 767px) {
    .security .img1 {
        position: static;
        margin: 0 auto;
        margin-top: 4rem;
        display: flex;
    }
    .security .blackCard {
        display: none;
    }
    .security .mobile_direction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .security .extraBold--modile {
        display: flex;
        justify-content: center;
        margin-bottom: -6rem;
        margin-top: 0;
    }
    .security h2 {
        display: none;
    }
    .security h5 {
        width: 100%;
    }
    .security .blackCard_wrapp {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    .security .blackCard_mobile {
        display: block;
        height: 296px;
        max-width: 312px;
    }
    .security {
        margin-top: -29rem;
    }
    .security .img1 {
        margin-bottom: 2rem;
    }
    .security .row {
        justify-content: center;
    }
    .security .coin1 {
        display: block;
        position: absolute;
        top: 8%;
        left: 62%;
        z-index: 20;
        animation: 2s linear 0s infinite levitatingAnimation;
    }
    .security .coin2 {
        display: block;
    }
    .security .coin3 {
        display: block;
    }
    .security .coin4 {
        display: block;
    }
    .security .coin5 {
        display: block;
    }
    
}


@media only screen and (max-width: 558px) {
    .security .coinContainer {
        left: -82%;
    }
    
}

@media only screen and (max-width: 510px) {
    .security .img1 {
        width: 23rem;
    }
    .security .blackCard_mobile {
        width: 100%;
        max-width: inherit;
    }
}

@media only screen and (max-width: 395px) {
    .security h2 {
        font-size: 42px;
    }
    .security .img1 {
        width: 18rem;
    }
    .security h5 {
        font-size: 15px;
    }
    .security .a .button {
        padding: 1.1rem 1.9rem;
    }
    .security .blackCard_mobile {
        min-width: 320px;
    }
}

@media only screen and (max-width: 365px) {
    .security .blackCard_mobile {
        min-width: 285px;
    }
}