.security {
    margin-top: -5rem;
    margin-bottom: 5rem;
}

.security h2 {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 2rem;
    margin-top: 8rem;
}
.security .extraBold--modile {
    display: none;
}

.security h5 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 3rem;
    width: 80%;
}

.security .blackCard {
    background: #19191A;
    box-shadow: 0px 60px 80px rgba(15, 15, 15, 0.3);
    border-radius: 29px;
    color: #FFFFFF;
    padding-top: 19px;
    padding-left: 34px;
    height: 200px;
    min-width: 320px;
    position: relative;
    top: -7rem;
}
.security .blackCard_wrapp {
    display: none;
}

.security .blackCard .blackCard_title {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 2rem;
}

.security .blackCard .blackCard_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

@media only screen and (max-width: 1010px) {
    .security img {
        position: relative;
        top: 5rem;
        right: 6rem;
        width: 28rem;
    }
    .security .blackCard {
        top: 0rem;
    }
}
@media only screen and (max-width: 968px) {
    .security h2 {
        font-size: 59px;
        line-height: 76px;
        margin-bottom: 2rem;
        margin-top: 8rem;
    }
}
@media only screen and (max-width: 767px) {
    .security img {
        position: static;
        margin: 0 auto;
        margin-top: 4rem;
        display: flex;
    }
    .security .blackCard {
        display: none;
    }
    .security .mobile_direction {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .security .extraBold--modile {
        display: flex;
        justify-content: center;
        margin-bottom: -6rem;
        margin-top: 0;
    }
    .security h2 {
        display: none;
    }
    .security .blackCard_wrapp {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
    .security .blackCard_mobile {
        display: block;
        height: 296px;
        max-width: 312px;
    }
}
@media only screen and (max-width: 510px) {
    .security img {
        width: 23rem;
    }
}
@media only screen and (max-width: 395px) {
    .security h2 {
        font-size: 42px;
    }
    .security img {
        width: 18rem;
    }
    .security h5 {
        font-size: 15px;
    }
    .security .a .button {
        padding: 1.1rem 1.9rem;
    }
    .security .blackCard_mobile {
        min-width: 285px;
    }
}