.security {
    margin-top: -5rem;
    margin-bottom: 5rem;
}

.security h2 {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 2rem;
    margin-top: 8rem;
}

.security h5 {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 3rem;
    width: 80%;
}

.security .blackCard {
    background: #19191A;
    box-shadow: 0px 60px 80px rgba(15, 15, 15, 0.3);
    border-radius: 29px;
    color: #FFFFFF;
    padding-top: 19px;
    padding-left: 34px;
    height: 200px;
    min-width: 320px;
    position: relative;
    top: -7rem;
}

.security .blackCard .blackCard_title {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 2rem;
}

.security .blackCard .blackCard_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

@media only screen and (max-width: 1010px) {
    .security img {
        position: relative;
        top: 5rem;
        right: 6rem;
        width: 28rem;
    }
    .security .blackCard {
        top: 0rem;
    }
    
}
@media only screen and (max-width: 968px) {
    .security h2 {
        font-size: 59px;
        line-height: 76px;
        margin-bottom: 2rem;
        margin-top: 8rem;
    }
    
}