.p2p {
    background: #F8F8F8;
    border-radius: 509px;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}

.p2p .row {
    position: relative;
}

.p2p img {
    position: absolute;
}

.p2p img.img1 {
    top: -13rem;
    right: 0;
}

.p2p img.img2 {
    top: 0;
    left: -70%;
}

.p2p .cardsWrapper {
    display: flex;
}

.p2p .cardsWrapper.wrapper1 {
    margin-top: 11rem;
}

.p2p h2 {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.p2p h3 {
    font-size: 45px;
    line-height: 60px;
}

.p2p h4.text1 {
    margin: 2rem 0;
}

.p2p h4 {
    font-size: 30px;
    line-height: 26px;
}

.p2p h5 {
    font-size: 18px;
    line-height: 26px;
}

.p2p h5.text1 {
    width: 36%;
}

.p2p .blackCard {
    background: #19191A;
    box-shadow: 0px 60px 80px rgba(15, 15, 15, 0.3);
    border-radius: 29px;
    color: #F2F2F2;
}

.p2p .blackCard_text, .p2p .grayCard_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.p2p .greenCard {
    background: #A3FF5E;
    box-shadow: 0px 60px 80px rgba(15, 15, 15, 0.3);
    border-radius: 29px;
    color: #000000;
}

.p2p .greenCard_title {
    font-weight: bold;
    font-size: 30px;
    line-height: 27px;
}

.p2p .grayCard {
    background: #C4C4C4;
    box-shadow: 0px 60px 80px rgba(15, 15, 15, 0.3);
    border-radius: 29px;
    color: #000000;
    padding: 34px;
    height: 200px;
    max-width: 320px;
    z-index: 3;
    position: relative;
    bottom: -2.5rem;
    left: -2rem;
}

.p2p .grayCard_title {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 1rem;
}

.p2p .greenCard.card1 {
    z-index: 1;
    position: relative;
    right: -7rem;
}

.p2p .greenCard.card2 {
    z-index: 2;
    position: relative;
    left: -4rem;
    top: -6rem;
}

.p2p .greenCard {
    padding: 38px 46px;
    min-width: 320px;
    height: fit-content;
}

.p2p .greenCard_title {
    font-size: 30px;
    line-height: 27px;
}

.p2p .blackCard.card1 {
    padding: 38px 46px;
    min-width: 320px;
    z-index: 2;
    position: relative;
    top: -3.3rem;
}

.p2p .blackCard.card1 .blackCard_title {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 1rem;
}

.p2p .blackCard.card1 .blackCard_text {
    font-size: 16px;
    line-height: 20px;
}

.p2p .blackCard.card2 {
    padding: 34px;
    min-width: 320px;
    z-index: 2;
    height: 200px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p2p .blackCard.card2 .blackCard_title {
    font-size: 21px;
    line-height: 27px;
    margin-bottom: 1rem;
}

.p2p .blackCard.card2 .blackCard_text {
    font-size: 16px;
    line-height: 20px;
}

.p2p .row2 {
    margin-top: 4rem;
    position: relative;
    left: 35%;
}

.p2p h3.text2 {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.p2p .row2 h5 {
    margin-bottom: 1rem;
}

.p2p .row2 h4 {
    margin-top: 1.3rem;
}

.p2p .cardsWrapper.wrapper2 {
    margin-top: 19rem;
    position: relative;
    top: -5rem;
    left: 4rem;
}

@media only screen and (max-width: 1040px) {
    .p2p h3 {
        font-size: 40px;
    }
    .p2p img.img2 {
        top: 5rem;
        left: -70%;
        width: 28rem;
    }
    .p2p .cardsWrapper.wrapper2 {
        top: -7rem;
        left: -4rem;
    }
}

@media only screen and (max-width: 980px) {
    .p2p .greenCard.card1 {
        right: 0rem;
    }
    .p2p .blackCard.card1 {
        right: 8rem;
    }
    .p2p .grayCard {
        padding: 38px 46px;
        min-width: 320px;
        left: -12rem;
    }
}

@media only screen and (max-width: 958px) {
    .p2p img.img1 {
        right: -4rem;
    }
    .p2p h5.text1 {
        width: 50%;
    }
    .p2p h4 {
        font-size: 25px;
    }
    .p2p h5 {
        font-size: 16px;
    }
}
.p2p img.img1_mobile {
    display: none;
}

@media only screen and (max-width: 882px) {
    .p2p img.img1 {
        right: -4rem;
        width: 31rem;
        top: -4rem;
    }
    .p2p h5.text1 {
        width: 46%;
    }
}

@media only screen and (max-width: 868px) {
    .p2p .row2 {
        display: flex;
        justify-content: center;
        margin-top: 4rem;
        position: static;
    }
    .p2p img.img1 {
        display: none;
    }
    .p2p img.img2 {
        display: none;
    }
    .p2p img.img1_mobile {
        display: block;
        margin: 0 auto;
        position: static;
        margin-top: -3rem;
    }
    .p2p img.img2_mobile {
        display: block;
        margin: 0 auto;
        position: static;
    }
    .p2p h2 {
        margin-bottom: 1rem;
    }
    .p2p h3 {
        text-align: center;
    }
    .p2p h3.text2 {
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .p2p h4.text1 {
        text-align: center;
    }
    .p2p h5.text1 {
        margin: 0 auto;
        text-align: center;
    }
    .p2p .cardsWrapper.wrapper1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    .p2p .cardsWrapper.wrapper2 {
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .p2p .greenCard.card1 {
        position: static;
    }
    .p2p .greenCard.card2 {
        position: static;
        max-width: 320px;
    }
    .p2p .greenCard_title {
        font-size: 34px;
        text-align: center;
    }
    .p2p .blackCard.card1 {
        position: static;
    }
    .p2p .grayCard {
        position: static;
    }
    .p2p .card_wrapp {
        margin-bottom: 10px;
    }
    .p2p .card_wrapp:last-child {
        margin-bottom: 0px;
    }
    .p2p .card_wrapp2 {
        margin-bottom: 30px;
    }
    .p2p .card_wrapp2:last-child {
        margin-bottom: 0px;
    }
    .p2p h5.text1 {
        width: 65%;
    }
}

@media only screen and (max-width: 860px) {
    .p2p .grayCard {
        padding: 38px 46px;
        min-width: 273px;
        left: -12rem;
    }
    .p2p .grayCard_title {
        font-size: 19px;
    }
    .p2p .blackCard.card1 .blackCard_title {
        font-size: 19px;
    }
    .p2p .blackCard.card1 .blackCard_text {
        font-size: 15px;
    }
    .p2p .grayCard_text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 835px) {
    .p2p h3 {
        font-size: 35px;
    }
    .p2p .cardsWrapper.wrapper2 {
        left: -10rem;
    }
    .p2p img.img2 {
        width: 24rem;
    }
}

@media only screen and (max-width: 768px) {
    .p2p {
        border-radius: 270px;
    }
    .p2p h2 {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .p2p h3 {
        z-index: 2;
    }
    .p2p .container-fluid {
        width: 80%;
    }
}

@media only screen and (max-width: 670px) {
    .p2p img.img1 {
        width: 24rem;
    }
}
@media only screen and (max-width: 600px) {
    .p2p h2 {
        font-size: 42px;
    }
}



@media only screen and (max-width: 560px) {
    .p2p img.img1 {
        width: 19rem;
    }
}

@media only screen and (max-width: 468px) {
    .p2p h2 {
        font-size: 42px;
    }
    .p2p h3 {
        font-size: 27px;
        line-height: 33px;
    }
    .p2p h5.text1 {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .p2p img.img2 {
        width: 20rem;
    }
    .p2p {
        border-radius: 130px;
    }
    .p2p h2 {
        font-size: 42px;
        line-height: 55px;
        margin-bottom: 2rem;
    }
    .p2p img.img1 {
        right: -7rem;
        top: 9rem;
        width: 19rem;
    }
    .p2p .cardsWrapper {
        flex-direction: column;
    }
    .p2p .cardsWrapper.wrapper1 {
        margin-top: 3rem;
    }
    .p2p .blackCard.card1 {
        right: auto;
        top: 0;
        margin-top: 1rem;
    }
    .p2p .grayCard {
        top: 0;
        margin-top: 1rem;
    }
    .p2p .greenCard, .p2p .blackCard.card1, .p2p .grayCard {
        width: 100%;
        min-width: 320px;
        left: 0;
    }
}
@media only screen and (max-width: 428px) {
    .p2p img.img1 {
        width: 16rem;
    }
    .p2p h5.text1 {
        width: 97%;
    }
}
@media only screen and (max-width: 380px) {
    .p2p h2 {
        font-size: 36px;
    }
    .p2p h3 {
        font-size: 23px;
    }
    .p2p img.img1 {
        width: 13rem;
    }
}
@media only screen and (max-width: 340px) {
    .p2p h2 {
        font-size: 32px;
    }
    .p2p h3 {
        font-size: 25px;
    }
    .p2p h4 {
        font-size: 22px;
    }
    .p2p img.img1 {
        width: 13rem;
    }
    .p2p img.img2 {
        width: 18rem;
    }
    .p2p .greenCard, .p2p .blackCard.card1, .p2p .grayCard {
        min-width: 290px;
    }
    .p2p .blackCard.card2 {
        min-width: 290px;
    }
}