.prefooter h2 {
    font-size: 72px;
    line-height: 76px;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.prefooter h5 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 3rem;
}

.prefooter img {
    position: relative;
    left: 3rem;
}

@media only screen and (max-width: 768px) {
    .prefooter {
        margin-top: -1rem;
    }
    .prefooter h2 {
        text-align: center;
        margin-top: 0;
    }
    .prefooter h5 {
        text-align: center;
        text-align: center;
        margin-top: 22rem;
        margin-bottom: 1.5rem;
    }
    .prefooter .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prefooter img {
        left: 2rem;
        top: -0;
        width: 75%;
    }
    .prefooter .animated {
        position: relative;
        top: -29rem;
    }
}

@media only screen and (max-width: 450px) {
    .prefooter h2 {
        font-size: 50px;
        line-height: 55px;
    }
    .prefooter .animated {
        top: -29rem;
    }
}

@media only screen and (max-width: 432px) {
    .prefooter .animated {
        top: -30.5rem;
    }
}

@media only screen and (max-width: 368px) {
    .prefooter .animated {
        top: -32rem;
    }
}