.sofa {
    margin-top: -10rem;
    position: relative;
}

.sofa .row {
    position: relative;
}

.sofa .coinContainer {
    position: absolute;
}

.sofaCircle {
    background: linear-gradient(57.8deg, rgba(244, 244, 244, 0.71) 18.82%, #F4F4F4 85.33%);
    border-radius: 50%;
    position: absolute;
    top: 17rem;
    right: 0rem;
    padding: 8rem;
}

.sofaCircle_title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 1rem;
}

.sofaCircle_title.hide {
    display: none;
}

.sofaCircle_text {
    font-size: 21px;
    line-height: 20px;
    margin-bottom: 2.5rem;
}

.sofa .sofaImg {
    width: 100%;
}

.sofa .coin1 {
    position: absolute;
    top: 21rem;
    left: 49rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin2 {
    position: absolute;
    top: 26rem;
    left: 27rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin3 {
    position: absolute;
    top: 30rem;
    left: 40rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin4 {
    position: absolute;
    top: 35rem;
    left: 36rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin5 {
    position: absolute;
    top: 36rem;
    left: 60rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin6 {
    position: absolute;
    top: 38rem;
    left: 36rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin7 {
    position: absolute;
    top: 40rem;
    left: 41rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin8 {
    position: absolute;
    top: 46rem;
    left: 39rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

.sofa .coin9 {
    position: absolute;
    top: 45rem;
    left: 53rem;
    z-index: 20;
    animation: 2s linear 0s infinite levitatingAnimation;
}

@media only screen and (max-width: 1024px) {
    .sofaCircle {
        background: none;
        position: relative;
        top: -1rem;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sofaCircle_title {
        text-align: center;
    }
    .sofaCircle_text {
        text-align: center;
    }
    .sofa a.button {
        width: fit-content;
    }
    .sofa {
        margin-top: 8rem;
    }
    .sofaCircle_title.hide {
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
    }
    .sofaCircle_title {
        display: none;
    }
}

@media only screen and (max-width: 1706px) {
    .sofa .coinContainer {
        left: -12%;
    }
}

@media only screen and (max-width: 1518px) {
    .sofa .coinContainer {
        left: -21%;
    }
}

@media only screen and (max-width: 1352px) {
    .sofa .coinContainer {
        left: -27%;
    }
    .sofa img {
        width: 2rem;
    }
}

@media only screen and (max-width: 1236px) {
    .sofa .coinContainer {
        left: -33%;
    }
    .sofa .coin5 {
        display: none;
    }
    .sofa .coin9 {
        display: none;
    }
}

@media only screen and (max-width: 1176px) {
    .sofa img {
        width: 1.5rem;
    }
}

@media only screen and (max-width: 1024px) {
    .sofa .coinContainer {
        top: -12%;
    }
    .sofa .coin5 {
        display: block;
    }
    .sofa .coin9 {
        display: block;
    }
}

@media only screen and (max-width: 948px) {
    .sofa {
        margin-top: 16rem;
    }
}

@media only screen and (max-width: 882px) {
    .sofa .coinContainer {
        top: -16%;
    }
    .sofa .coin5 {
        display: none;
    }
    .sofa .coin9 {
        display: none;
    }
    .sofa .coin8 {
        display: none;
    }
    .sofa .coin1 {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .sofa {
        margin-top: 25rem;
    }
    .sofa .sofaImg {
        width: 170%;
    }
    .sofaCircle {
        top: -2rem;
    }
    .sofa img {
        width: 2rem;
    }
    .sofa .coinContainer {
        top: -2%;
    }
}

@media only screen and (max-width: 630px) {
    .sofa {
        margin-top: 6rem;
    }
    .sofa a.button {
        width: 80%;
        padding: 1.1rem 0;
    }
    .sofa .coinContainer {
        top: -14%;
        left: -53%;
    }
}

@media only screen and (max-width: 500px) {
    .sofaCircle_title {
        font-size: 50px;
        line-height: 55px;
    }
    .sofa .coinContainer {
        top: -25%;
        left: -75%;
    }
}

@media only screen and (max-width: 420px) {
    .sofa .sofaImg {
        margin-top: 1rem;
    }
    .sofa .coinContainer {
        top: -26%;
        left: -94%;
    }
}

@media only screen and (max-width: 390px) {
    .sofa .coinContainer {
        top: -30%;
    }
}

@media only screen and (max-width: 372px) {
    .sofa .coinContainer {
        top: -36%;
        left: -109%;
    }
}

@media only screen and (max-width: 348px) {
    .sofa .coinContainer {
        top: -40%;
        left: -115%;
    }
}